# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
ENV/

# Flask
instance/
.webassets-cache

# VSCode
.vscode/

# Docker
*.db
docker-compose.override.yml
mysql_data/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Images/uploads (if you add persistent uploads)
uploads/ 